In [8]:
print("print   ooo")

print   ooo

In [9]:
n = 10 #int
m = 5.0 #float
name ='許嘉哲'
is_google = True

In [12]:
print(n)
print(m)
print(name)
print(is_google)

10
5.0
許嘉哲
True

In [19]:
t1=(1,2,3,4,5,6,7,8,9,10)
t1
print(type(t1))

t2 = ('a','b','c')
print(t2)
print(type(t2))

<class 'tuple'>
('a', 'b', 'c')
<class 'tuple'>

In [28]:
#tuple, 暫時資料
#tuple, 的內容不可以修改
#tuple, 最常使用在拆解法(拆解tuple,給變數)

(name,chinese,math,english) = ('許嘉哲',78,92,65)
name,chinese,math,english = '許嘉哲',78,92,65
#使用tuble 一次建立四個變數 括號可去除

In [29]:
print(name)
print(chinese)
print(english)

許嘉哲
78
65

In [33]:
mylist=[1,2,3,4,5,6,7,8,9]
print(mylist)
print(type(mylist))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [39]:
student1=['roger',78,92,100]
#subscrip
print(student1[0])
student1[1]
student1[2]

roger

92

In [41]:
#list iterable
for element in student1:
    print(element)

roger
78
92
100

In [43]:
greeting ='Hello python!'
print(greeting[1])

e

In [45]:
#dictionary
stu1 = {'名字':'徐國堂',
 '國文':78,
 '英文':92,
 '數學':88}
stu1
print(type(stu1))

<class 'dict'>

In [49]:
for key in stu1:
    print(stu1[key])

徐國堂
78
92
88